In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('tmdb_5000_credits.csv')

In [4]:
df.shape

(4803, 4)

In [5]:
df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
df.sample(10)

,movie_id,title,cast,crew
654,36648,Blade: Trinity,"[{""cast_id"": 3, ""character"": ""Blade"", ""credit_...","[{""credit_id"": ""52fe45fd9251416c910455ef"", ""de..."
4581,281189,Gory Gory Hallelujah,[],"[{""credit_id"": ""55135b3f9251412be400021e"", ""de..."
3155,62215,Melancholia,"[{""cast_id"": 2, ""character"": ""Justine"", ""credi...","[{""credit_id"": ""52fe4676c3a368484e091fed"", ""de..."
557,25,Jarhead,"[{""cast_id"": 1, ""character"": ""Staff Sgt. Sykes...","[{""credit_id"": ""52fe4210c3a36847f8001145"", ""de..."
195,181533,Night at the Museum: Secret of the Tomb,"[{""cast_id"": 1, ""character"": ""Larry Daley"", ""c...","[{""credit_id"": ""537d3640c3a368059200002c"", ""de..."
3456,11452,National Lampoon’s Van Wilder,"[{""cast_id"": 1, ""character"": ""Van Wilder"", ""cr...","[{""credit_id"": ""52fe44439251416c7502e7ed"", ""de..."
527,4551,Be Cool,"[{""cast_id"": 4, ""character"": ""Chili Palmer"", ""...","[{""credit_id"": ""52fe43cbc3a36847f807039f"", ""de..."
4144,3766,The Lady from Shanghai,"[{""cast_id"": 4, ""character"": ""Elsa Bannister"",...","[{""credit_id"": ""52fe43a4c3a36847f80640e9"", ""de..."
3437,62255,Tracker,"[{""cast_id"": 1, ""character"": ""Arjan"", ""credit_...","[{""credit_id"": ""56d1879ec3a3681e3e009e73"", ""de..."
156,616,The Last Samurai,"[{""cast_id"": 11, ""character"": ""Captain Nathan ...","[{""credit_id"": ""52fe425ec3a36847f8018e53"", ""de..."

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [8]:
df.isnull().sum()

movie_id    0
title       0
cast        0
crew        0
dtype: int64

In [9]:
df.describe()

            movie_id
count    4803.000000
mean    57165.484281
std     88694.614033
min         5.000000
25%      9014.500000
50%     14629.000000
75%     58610.500000
max    459488.000000

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df.corr

<bound method DataFrame.corr of       movie_id                                     title  \
0        19995                                    Avatar
1          285  Pirates of the Caribbean: At World's End
2       206647                                   Spectre
3        49026                     The Dark Knight Rises
4        49529                               John Carter
...        ...                                       ...
4798      9367                               El Mariachi
4799     72766                                 Newlyweds
4800    231617                 Signed, Sealed, Delivered
4801    126186                          Shanghai Calling
4802     25975                         My Date with Drew

                                                   cast  \
0     [{"cast_id": 242, "character": "Jake Sully", "...
1     [{"cast_id": 4, "character": "Captain Jack Spa...
2     [{"cast_id": 1, "character": "James Bond", "cr...
3     [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4     [{"cast_id": 5, "character": "John Carter", "c...
...                                                 ...
4798  [{"cast_id": 1, "character": "El Mariachi", "c...
4799  [{"cast_id": 1, "character": "Buzzy", "credit_...
4800  [{"cast_id": 8, "character": "Oliver O\u2019To...
4801  [{"cast_id": 3, "character": "Sam", "credit_id...
4802  [{"cast_id": 3, "character": "Herself", "credi...

                                                   crew
0     [{"credit_id": "52fe48009251416c750aca23", "de...
1     [{"credit_id": "52fe4232c3a36847f800b579", "de...
2     [{"credit_id": "54805967c3a36829b5002c41", "de...
3     [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...                                                 ...
4798  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4799  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4800  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4801  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4802  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4803 rows x 4 columns]>